@charset "UTF-8";
/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* 섹션 공통 스타일 */
section {
  margin: 120px 0;
}

.section-header {
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

/* 공통 컨테이너 */
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  box-sizing: unset;
}
.container .section-container {
  width: 100%;
}

/* 아이콘 */
.icon-search,
.icon-keyword-arrow,
.icon-chart-dropdown {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-search {
  background-image: url("/images/icons/search.svg");
}

.icon-keyword-arrow {
  min-width: 24px;
  height: 24px;
  background-image: url("/images/icons/arrow_select_P.svg");
}

.icon-chart-dropdown {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url("/images/icons/chart_dropdown.svg");
}

/* 공통 키워드 영역 */
.keyword-wrap {
  width: 100%;
  max-width: 253px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.keyword-wrap .keyword-wrap-item {
  border-radius: 12px;
  background-color: #F0F0F0;
  transition: all 0.2s ease-in-out;
}
.keyword-wrap .keyword-wrap-item button {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #999;
  font-size: 20px;
  font-weight: 500;
}
.keyword-wrap .keyword-wrap-item button span {
  flex: 1;
  font-size: inherit;
  text-align: left;
  word-break: keep-all;
  transition: all 0.2s ease-in-out;
}
.keyword-wrap .keyword-wrap-item button span.keyword {
  color: #444;
  flex: 8;
  font-weight: 700;
}
.keyword-wrap .keyword-wrap-item .icon-keyword-arrow {
  filter: opacity(0);
}
.keyword-wrap .keyword-wrap-item.active {
  background-color: #333;
}
.keyword-wrap .keyword-wrap-item.active button span.keyword {
  color: #fff;
}
.keyword-wrap .keyword-wrap-item.active .icon-keyword-arrow {
  filter: opacity(1);
}

/* 검색 박스 */
.search-box {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 24px;
}
.search-box > * {
  width: 100%;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.search-box select {
  max-width: 253px;
  padding: 0 32px;
  font-size: inherit;
  font-weight: 500;
  background-image: url("/images/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.search-box .search-input-wrap {
  padding: 5px;
  padding-left: 32px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.search-box .search-input {
  padding: 10px 0;
  flex: 1;
  border: none;
  font-size: inherit;
}
.search-box .search-input:focus {
  outline: none;
}
.search-box .search-btn {
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 50%;
  background-color: #F53C80;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-btn .icon-search {
  transition: all 0.2s ease-in-out;
}
.search-box .search-btn:hover .icon-search {
  transform: scale(1.1);
}

/* 탭 버튼 */
.tab-btn-box {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.tab-btn-box button {
  padding: 8px 20px;
  border-radius: 50px;
  color: #999;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  word-break: keep-all;
  position: relative;
}
.tab-btn-box button.active {
  background-color: #333;
  color: #fff;
}
.tab-btn-box button::after {
  content: "";
  width: 2px;
  height: 50%;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
}
.tab-btn-box button:last-child::after {
  display: none;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  word-break: keep-all;
  transition: all 0.2s ease-in-out;
}
header.active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  filter: opacity(0.8);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container > * {
  flex: 1;
  display: flex;
  align-items: center;
}
header h1 {
  justify-content: flex-start;
}
header .main-nav {
  flex: 2;
  justify-content: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
  font-size: 20px;
  font-weight: 500;
}
header .main-nav a {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
header .main-nav a:hover, header .main-nav a:focus-visible {
  color: #F53C80;
}
header .main-nav a.active {
  color: #F53C80;
}
header .main-nav a.active::after {
  transform: scale(1);
}
header .main-nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #F53C80;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
header .gnb-menu {
  justify-content: flex-end;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 14px;
}
header .gnb-menu a {
  position: relative;
}
header .gnb-menu a::after {
  content: "";
  width: 1px;
  height: 90%;
  background-color: #ddd;
  display: block;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
header .gnb-menu .user-info {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-weight: 600;
}
header .gnb-menu .user-info figure {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
header .gnb-menu .user-info figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 배너 섹션 */
.banner-section {
  margin: 100px 0;
}
.banner-section h2 {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.2;
}
.banner-section h2.text-bg {
  background-image: url("/images/main/bannerSection/f604573f8167d58822ee8081483ee04b.jpg");
  background-position: 50% 62%;
  background-size: 160%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: bg-scale 30s ease-in infinite alternate;
}
@keyframes bg-scale {
  0% {
    background-size: 160%;
  }
  100% {
    background-size: 250%;
  }
}
.banner-section .container {
  flex-direction: column;
  row-gap: 100px;
}

/* 필터 섹션 */
.filter-section {
  margin-bottom: 200px;
}
.filter-section .container {
  max-width: none;
}
.filter-section .filter-wrapper {
  display: flex;
  flex-direction: column;
}
.filter-section .filter-marquee-row {
  transition: none;
}
.filter-section .filter-marquee-row[data-direction=right] .filter-option {
  animation: pulse 2s infinite alternate;
  animation-delay: calc(0.1s * var(--i, 0));
}
.filter-section .filter-option {
  margin-right: 20px;
  padding: 16px 36px;
  border-radius: 100px;
  background-color: #F0F0F0;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
  word-break: keep-all;
  white-space: nowrap;
  transition: all 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.filter-section .filter-option:hover {
  background-color: #F53C80;
  color: #fff;
  transform: translateY(-5px);
}
.filter-section .filter-option::before {
  content: "#";
}
@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* 국가 정보 섹션 */
.country-section .country-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 26px;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.country-section .country-item {
  padding: 24px;
  border-radius: 12px;
  background-color: #F6F6F6;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.country-section .country-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.country-section .country-flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  font-size: 18px;
  font-weight: 600;
}
.country-section .country-flag figure {
  width: 146px;
  height: 90px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.5);
}
.country-section .country-flag figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.country-section .country-tags {
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  gap: 16px;
}
.country-section .country-tags .tag {
  padding: 6px 16px;
  border-radius: 50px;
  background-color: rgba(102, 102, 102, 0.5);
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.country-section .country-tags .tag.active {
  background: linear-gradient(135deg, #F53C80, #E51E67);
  box-shadow: 0 0 15px 0 rgba(245, 60, 128, 0.5);
}

/* 뉴스 섹션 */
.news-section .news-container {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.news-section .news-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.news-section .news-content * {
  transition: all 0.2s ease-in-out;
}
.news-section .news-content .news-title,
.news-section .news-content .news-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-section .news-content .news-title {
  font-size: 20px;
  font-weight: 600;
}
.news-section .news-content .news-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  -webkit-line-clamp: 3;
}
.news-section .news-content .news-info {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.8);
}
.news-section .news-content .info-line {
  color: inherit;
  font-size: 60%;
}
.news-section .news-item-best {
  border-radius: 12px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.news-section .news-item-best:hover img, .news-section .news-item-best:focus-visible img {
  transform: scale(1.1);
}
.news-section .news-item-best figure {
  height: 400px;
  display: flex;
}
.news-section .news-item-best figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.news-section .news-item-best .news-content {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  row-gap: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.9));
  position: absolute;
  bottom: 0;
  left: 0;
}
.news-section .news-item-best .news-content .news-title {
  color: #fff;
  font-size: 28px;
}
.news-section .news-item-best .news-content .news-info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
.news-section .news-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.news-section .news-list-header {
  width: 80%;
}
.news-section .news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.news-section .news-item {
  background-color: #F6F6F6;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.news-section .news-item:hover, .news-section .news-item:focus-visible {
  background-color: #F53C80;
  box-shadow: 0 4px 15px 0 rgba(245, 60, 128, 0.5);
}
.news-section .news-item:hover .news-title, .news-section .news-item:focus-visible .news-title {
  color: #fff;
}
.news-section .news-item:hover .news-info, .news-section .news-item:focus-visible .news-info {
  color: rgba(255, 255, 255, 0.8);
}

/* 인물 섹션 */
.person-section .section-container {
  width: 80%;
  flex: 1;
}
.person-section .person-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.person-section .person-card:hover img, .person-section .person-card:focus-visible img {
  transform: scale(1.1);
}
.person-section .person-image {
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
}
.person-section .person-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.person-section .person-info {
  padding: 16px 24px;
  border-radius: 12px;
  background-color: #F53C80;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: #fff;
}
.person-section .person-name-en {
  font-size: 14px;
  font-weight: 500;
}
.person-section .person-name-ko {
  font-size: 24px;
  font-weight: 700;
}
.person-section .person-position {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 16px;
}
.person-section .person-position .line {
  color: rgba(255, 255, 255, 0.4);
  font-size: 80%;
}

/* 키워드 섹션 */
.keyword-section .section-container {
  width: 80%;
  flex: 1;
  position: relative;
}
.keyword-section .section-container::before {
  content: "";
  width: 200%;
  height: 100%;
  display: flex;
  background-color: #fff;
  position: absolute;
  right: 100%;
  z-index: 3;
}
.keyword-section .keyword-wrap {
  position: relative;
  z-index: 5;
}
.keyword-section .keyword-slider {
  padding-bottom: 40px;
}
.keyword-section .keyword-slider.swiper {
  overflow: unset;
}
.keyword-section .keyword-card {
  position: relative;
}
.keyword-section .keyword-card:hover .keyword-image, .keyword-section .keyword-card:focus-visible .keyword-image {
  filter: brightness(1);
}
.keyword-section .keyword-card:hover .keyword-image img, .keyword-section .keyword-card:focus-visible .keyword-image img {
  transform: scale(1.1);
}
.keyword-section .keyword-image {
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  filter: brightness(0.6);
  transition: all 0.2s ease-in-out;
}
.keyword-section .keyword-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.keyword-section .keyword-info {
  padding: 24px;
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 16px;
}
.keyword-section .keyword-title {
  font-size: 28px;
  font-weight: 600;
}

/* 통계 섹션 */
.stats-section .container {
  flex-direction: column;
}
.stats-section .section-title {
  font-size: 32px;
}
.stats-section .stats-container {
  display: grid;
  gap: 20px;
}
.stats-section .stats-wrapper .sticky {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: sticky;
  top: 110px;
  z-index: 10;
}
.stats-section .total-stats {
  padding: 24px;
  border-radius: 10px;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  row-gap: 57px;
  color: #fff;
}
.stats-section .stats-title {
  font-size: 28px;
  font-weight: 700;
}
.stats-section .stats-number {
  color: #F53C80;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}
.stats-section .stats-desc {
  margin-left: 24px;
  color: #666;
  font-size: 16px;
  font-weight: 300;
}
.stats-section .chart-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}
.stats-section .chart-grid .chart-grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.stats-section .chart-grid .left-chart,
.stats-section .chart-grid .right-chart {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.stats-section .chart-item {
  padding: 24px;
  border-radius: 10px;
  background-color: #F6F6F6;
  color: #333;
}
.stats-section .chart-item.active .chart-container {
  height: 220px;
  margin-top: 28px;
}
.stats-section .chart-item.active .icon-chart-dropdown {
  transform: rotate(0deg);
}
.stats-section .chart-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats-section .chart-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-size: 28px;
  font-weight: 500;
}
.stats-section .chart-title .icon-chart-dropdown {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
.stats-section .chart-value {
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}
.stats-section .chart-container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.stats-section .chart-container > div {
  height: 220px;
}

/* AI 서비스 섹션 */
.ai-section {
  margin: 0;
  padding: 146px 0;
  background-image: url("/images/main/aiSection/photo-1614851099362-9adf73ccebe9.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}
.ai-section .container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}
.ai-section .section-header {
  width: 100%;
  height: 196px;
  margin: 0;
  padding: 24px;
  border-radius: 12px;
  background-color: #333;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: #fff;
}
.ai-section .section-title {
  font-size: 40px;
}
.ai-section .section-desc {
  font-size: 16px;
}
.ai-section .ai-container {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.ai-section .ai-wrapper {
  display: flex;
  gap: 24px;
}
.ai-section .ai-item {
  width: 100%;
  height: 400px;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  flex: 1;
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  justify-content: flex-end;
  color: #333;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.ai-section .ai-item:hover.type-1, .ai-section .ai-item:focus-visible.type-1 {
  background-position: right 10px bottom 0px;
}
.ai-section .ai-item:hover.type-2, .ai-section .ai-item:focus-visible.type-2 {
  background-position: left 20px bottom 0px;
}
.ai-section .ai-item:hover:not(.type-1):not(.type-2), .ai-section .ai-item:focus-visible:not(.type-1):not(.type-2) {
  background-color: #778dfb;
  color: #fff;
}
.ai-section .ai-item.type-1, .ai-section .ai-item.type-2 {
  flex: 2;
  justify-content: flex-start;
  color: #fff;
}
.ai-section .ai-item.type-1 {
  background-color: #F53C80;
  background-image: url("/images/main/aiSection/Group 145.png");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: right -28px bottom -64px;
}
.ai-section .ai-item.type-2 {
  align-items: flex-end;
  background-color: #2CBAAA;
  background-image: url("/images/main/aiSection/Group 146.png");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: left -22px bottom -10px;
}
.ai-section .ai-title {
  font-size: 40px;
}
.ai-section .ai-desc {
  font-size: 20px;
}

/* 푸터 영역 */
.footer {
  padding: 56px 0;
  background-color: #1F000B;
  color: #fff;
  font-size: 16px;
}
.footer .container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer .footer-nav-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 20px;
}
.footer .footer-nav-wrap a {
  display: inline-block;
  position: relative;
}
.footer .footer-nav-wrap a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.15s ease-in-out;
  transform: scale(0);
}
.footer .footer-nav-wrap a:hover::after, .footer .footer-nav-wrap a:focus-visible::after {
  transform: scale(1);
}
.footer .footer-desc {
  margin-top: 10px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.footer .footer-line {
  font-size: 70%;
}
.footer .footer-logo .logo {
  width: 190px;
  height: 54px;
  background-image: url("/images/logo/ft_iogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .country-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 768px) {
  .banner-section h1 {
    font-size: 28px;
  }
  .news-item:first-child {
    grid-template-columns: 1fr;
  }
  .news-image {
    height: 200px;
  }
  .section-title {
    font-size: 20px;
  }
  .footer .container {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-bottom: 10px;
  }
  .main-nav ul {
    flex-wrap: wrap;
  }
  .main-nav li {
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .banner-section h1 {
    font-size: 24px;
  }
  .chart-grid {
    grid-template-columns: 1fr;
  }
  .ai-box {
    grid-template-columns: 1fr;
  }
}
/* 스와이퍼 스타일 */
section .swiper .swiper-scrollbar {
  width: auto;
  height: 6px;
  margin-top: 40px;
  position: unset;
  background-color: #dedede;
}
section .swiper .swiper-scrollbar-drag {
  border-radius: 100px;
  background-color: #F53C80;
  cursor: grab;
}
section .swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
section .swiper .swiper-pagination-bullet-active {
  background-color: #F53C80;
}/*# sourceMappingURL=style.css.map */