@charset "UTF-8";
/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* 섹션 공통 스타일 */
section {
  margin: 120px auto;
}

.section-header {
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}
.section-title.hidden {
  position: absolute;
  top: 0;
  right: 0;
  filter: opacity(0);
  pointer-events: none;
}

/* 공통 컨테이너 */
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  box-sizing: unset;
}
.container .section-container {
  width: 100%;
}

/* 공통 스티킹 영역 */
.sticky {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: sticky;
  top: 110px;
  z-index: 10;
}

/* 아이콘 */
.icon-search,
.icon-keyword-arrow,
.icon-chart-dropdown,
.icon-summary,
.icon-translate,
.icon-document {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-search {
  background-image: url("/images/icons/search.svg");
}

.icon-keyword-arrow {
  min-width: 24px;
  height: 24px;
  background-image: url("/images/icons/arrow_select_P.svg");
}

.icon-chart-dropdown {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url("/images/icons/chart_dropdown.svg");
}

.icon-summary {
  width: 56px;
  height: 56px;
  background-image: url("/images/main/aiSection/summation.svg");
}

.icon-translate {
  width: 56px;
  height: 56px;
  background-image: url("/images/main/aiSection/translation.svg");
}

.icon-document {
  width: 56px;
  height: 56px;
  background-image: url("/images/main/aiSection/creation.svg");
}

/* 키워드별 컨텐츠 영역 */
.content-section > .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.content-section section {
  margin: 0;
}

/* 공통 키워드 영역 */
.keyword-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.keyword-wrap span {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: inherit;
  text-align: left;
  word-break: keep-all;
  transition: all 0.2s ease-in-out;
  color: #333;
  line-height: 1.2;
}
.keyword-wrap span.rank {
  min-width: 24px;
}
.keyword-wrap span.keyword {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.keyword-wrap span.count {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.keyword-wrap span.count::after {
  content: "";
  min-width: 12px;
  height: 12px;
}
.keyword-wrap span.count.up::after {
  background-image: url("/images/icons/rank-up.svg");
}
.keyword-wrap span.count.down::after {
  background-image: url("/images/icons/rank-down.svg");
}
.keyword-wrap .keyword-wrap-item {
  border-radius: 12px;
  background-color: #F0F0F0;
  transition: all 0.2s ease-in-out;
}
.keyword-wrap .keyword-wrap-item button {
  width: 100%;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.keyword-wrap .keyword-wrap-item > button {
  padding: 24px 32px;
  display: flex;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}
.keyword-wrap .keyword-wrap-item figure {
  width: 40px;
  height: 26px;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
}
.keyword-wrap .keyword-wrap-item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.keyword-wrap .keyword-wrap-item.active {
  background-color: #333;
}
.keyword-wrap .keyword-wrap-item.active span {
  color: #fff;
}
.keyword-wrap .keyword-ranking-wrap {
  padding: 12px 24px;
  position: relative;
}
.keyword-wrap .keyword-ranking-wrap::before {
  content: "";
  width: calc(100% - 48px);
  display: block;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.keyword-wrap .keyword-ranking-wrap .ranking-item > button {
  padding: 12px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.keyword-wrap .keyword-ranking-wrap .ranking-item > button:hover .keyword, .keyword-wrap .keyword-ranking-wrap .ranking-item > button:focus-visible .keyword {
  text-decoration: underline;
}
.keyword-wrap .keyword-ranking-wrap .ranking-item.active button {
  background-color: #6881FF;
}

/* 공통 컨텐츠 영역 */
.section-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  display: grid;
  flex-direction: column;
  row-gap: 24px;
}
.section-wrapper.bg-f9 {
  padding: 32px;
  border-radius: 12px;
  background-color: #f9f9f9;
}
.section-wrapper .container {
  padding: 0;
  flex-direction: column;
}
.section-wrapper .section-wrapper {
  width: 100%;
  row-gap: 56px;
}
.section-wrapper .section-wrapper .section-header {
  padding-bottom: 16px;
  border-bottom: 1px solid #D0D0D0;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

/* 검색 박스 */
.search-box {
  width: 100%;
  height: 80px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}
.search-box > * {
  width: 100%;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.search-box .search-input-wrap {
  padding: 5px;
  padding-left: 32px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.search-box .search-input {
  padding: 10px 0;
  flex: 1;
  border: none;
  font-size: inherit;
}
.search-box .search-input:focus {
  outline: none;
}
.search-box .search-input::-moz-placeholder {
  color: #999;
  font-weight: 500;
}
.search-box .search-input::placeholder {
  color: #999;
  font-weight: 500;
}
.search-box .search-btn {
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 50%;
  background-color: #F53C80;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-btn .icon-search {
  transition: all 0.2s ease-in-out;
}
.search-box .search-btn:hover .icon-search {
  transform: scale(1.1);
}
.search-box .search-type-select-wrap {
  width: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-type-select-wrap label {
  cursor: pointer;
}
.search-box .search-type-select-wrap label input[type=checkbox] {
  filter: opacity(0);
  position: absolute;
  top: 0;
  left: 0;
}
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content svg g {
  transform-origin: 50% 50%;
  transform: rotate(500deg);
}
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content svg .text,
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content svg .line {
  stroke: #F53C80 !important;
}
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content svg .star {
  fill: #F53C80 !important;
}
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content .text-wrap p {
  top: calc(-100% - 3px);
}
.search-box .search-type-select-wrap label input[type=checkbox]:checked + .checkbox-content .text-wrap p span:last-child {
  color: #F53C80;
}
.search-box .search-type-select-wrap label:hover svg .text, .search-box .search-type-select-wrap label:focus-visible svg .text {
  animation: text-scale 0.4s ease-in infinite alternate;
}
@keyframes text-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.search-box .search-type-select-wrap .checkbox-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  position: relative;
}
.search-box .search-type-select-wrap svg path {
  transform-origin: 50% 50%;
  transition: fill, stroke, transform 0.2s ease-in-out;
}
.search-box .search-type-select-wrap svg g {
  transform-origin: 50% 50%;
  transform: rotate(-40deg);
  transition: transform 0.4s ease-in-out;
}
.search-box .search-type-select-wrap .text-wrap {
  width: 52px;
  height: 42px;
  overflow: hidden;
  position: relative;
}
.search-box .search-type-select-wrap p {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  top: 1px;
  left: 0;
  transition: all 0.2s ease-in-out;
  color: #999;
  line-height: 1.3;
}

/* 탭 버튼 */
.tab-btn-box {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.tab-btn-box button {
  padding: 8px 20px;
  border-radius: 50px;
  color: #999;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  word-break: keep-all;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.tab-btn-box button.active {
  background-color: #333;
  color: #fff;
}
.tab-btn-box button:hover, .tab-btn-box button:focus-visible {
  box-shadow: inset 0 -2px 5px -2px #333;
}
.tab-btn-box button::after {
  content: "";
  width: 2px;
  height: 50%;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
}
.tab-btn-box button:last-child::after {
  display: none;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  word-break: keep-all;
  transition: all 0.2s ease-in-out;
}
header.active {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  filter: opacity(0.8);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container > * {
  flex: 1;
  display: flex;
  align-items: center;
}
header h1 {
  justify-content: flex-start;
}
header .logo {
  display: flex;
}
header .main-nav {
  flex: 2;
  justify-content: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
  font-size: 20px;
  font-weight: 500;
}
header .main-nav a {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
header .main-nav a:hover, header .main-nav a:focus-visible {
  color: #F53C80;
}
header .main-nav a.active {
  color: #F53C80;
}
header .main-nav a.active::after {
  transform: scale(1);
}
header .main-nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #F53C80;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
header .gnb-menu {
  justify-content: flex-end;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 14px;
}
header .gnb-menu a {
  position: relative;
}
header .gnb-menu a::after {
  content: "";
  width: 1px;
  height: 90%;
  background-color: #ddd;
  display: block;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
header .gnb-menu .user-info {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-weight: 600;
}
header .gnb-menu .user-info figure {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
header .gnb-menu .user-info figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 배너 섹션 */
.banner-section {
  margin: 100px auto 90px;
}
.banner-section h2 {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.2;
}
.banner-section h2.text-bg {
  background-image: url("/images/main/bannerSection/f604573f8167d58822ee8081483ee04b.jpg");
  background-position: 50% 62%;
  background-size: 160%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: bg-scale 30s ease-in infinite alternate;
}
@keyframes bg-scale {
  0% {
    background-size: 160%;
  }
  100% {
    background-size: 250%;
  }
}
.banner-section .container {
  flex-direction: column;
  row-gap: 90px;
}

/* 필터 섹션 */
.filter-section .container {
  max-width: none;
}
.filter-section .filter-wrapper {
  display: flex;
  flex-direction: column;
}
.filter-section .filter-marquee-row {
  transition: none;
}
.filter-section .filter-marquee-row[data-direction=right] .filter-option {
  animation: pulse 2s infinite alternate;
  animation-delay: calc(0.1s * var(--i, 0));
}
.filter-section .filter-option {
  margin-right: 20px;
  padding: 16px 36px;
  border-radius: 100px;
  background-color: #F0F0F0;
  display: flex;
  color: #666;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
  word-break: keep-all;
  white-space: nowrap;
  transition: all 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.filter-section .filter-option:hover {
  background-color: #333;
  color: #fff;
  font-weight: 700;
  transform: translateY(-5px);
}
.filter-section .filter-option::before {
  content: "#";
}
@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* AI 서비스 섹션 */
.ai-section .ai-section-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f5f5f5;
  border-radius: 16px;
}
.ai-section .section-header {
  width: 100%;
  margin: auto;
  padding: 24px 32px;
  border-radius: 16px;
  background-color: #f53c80;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: #fff;
  box-shadow: 4px 0 15px 0 rgba(245, 60, 128, 0.4);
}
.ai-section .section-title {
  font-size: 40px;
}
.ai-section .section-desc {
  font-size: 16px;
}
.ai-section .ai-container {
  width: 100%;
  padding: 32px 0;
  display: flex;
}
.ai-section .ai-item {
  width: 100%;
  padding: 4px 32px;
  border-right: 1px solid #CDCDCD;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.ai-section .ai-item:last-child {
  border-right: 0;
}
.ai-section .ai-item:hover, .ai-section .ai-item:focus-visible {
  flex: 1.2;
}

/* 관련 뉴스 섹션 */
.news-section .section-title {
  font-size: 28px;
}
.news-section .news-slider {
  margin: 0;
}
.news-section .news-card {
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.news-section .news-card:hover .news-reliability, .news-section .news-card:focus-visible .news-reliability {
  background-color: #333;
}
.news-section .news-card:hover .news-title,
.news-section .news-card:hover .news-desc, .news-section .news-card:focus-visible .news-title,
.news-section .news-card:focus-visible .news-desc {
  text-decoration: underline;
}
.news-section .news-card.active .news-reliability {
  background-color: #333;
}
.news-section .news-card.active .news-info::before {
  filter: opacity(1);
}
.news-section .news-card.active .news-info::after {
  filter: opacity(0);
}
.news-section .news-image {
  width: 100%;
}
.news-section .news-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-section .news-info {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 16px;
}
.news-section .news-info > * {
  position: relative;
  z-index: 1;
}
.news-section .news-info::before, .news-section .news-info::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}
.news-section .news-info::before {
  filter: opacity(0);
  background: linear-gradient(to bottom, rgba(245, 60, 128, 0.15), rgba(245, 60, 128, 0.9));
}
.news-section .news-info::after {
  filter: opacity(1);
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.15), rgba(51, 51, 51, 0.9));
}
.news-section .news-reliability {
  margin-left: auto;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: #F53C80;
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.news-section .text-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.news-section .news-title,
.news-section .news-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-section .news-title {
  margin-bottom: 4px;
  font-size: 24px;
  -webkit-line-clamp: 2;
}
.news-section .news-desc {
  white-space: pre-line;
}
.news-section .news-position {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

/* 인물 섹션 */
.person-section .person-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-section .person-container fieldset {
  padding: 32px;
  border: 0;
  border-radius: 8px;
  background-color: #EDECEC;
}
.person-section .person-container fieldset legend {
  padding: 10px 32px;
  border-radius: 100px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.person-section .person-container fieldset.bg-hide {
  background-color: transparent;
  padding: 32px 0;
}
.person-section .person-container fieldset.bg-hide legend {
  opacity: 0;
}
.person-section .person-container .fieldset-wrap {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.person-section .person-container .person-item {
  max-width: 196px;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}
.person-section .person-container .person-item:hover .person-info::after, .person-section .person-container .person-item:focus-visible .person-info::after {
  top: 20%;
}
.person-section .person-container .person-item .person-content {
  position: relative;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
.person-section .person-container .person-item .person-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.person-section .person-container .person-item .person-info {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}
.person-section .person-container .person-item .person-info > * {
  position: relative;
  z-index: 1;
}
.person-section .person-container .person-item .person-info::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.person-section .person-container .person-item .person-name {
  font-size: 18px;
}
.person-section .person-container .person-item .person-position {
  font-size: 12px;
}
.person-section .person-container .person-item .person-desc {
  padding: 10px;
  border-radius: 8px;
  background-color: #F53C80;
  font-size: 14px;
}
.person-section .person-container .person-line {
  flex: 1;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #999;
}
.person-section .person-container .person-line .person-line-text {
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  word-break: keep-all;
}

/* 차트 섹션 */
.chart-section {
  display: flex;
  gap: 24px;
}
.chart-section > .container {
  flex: 1;
}
.chart-section .chart-container {
  height: 180px;
}
.chart-section .chart-container > div {
  height: 100%;
}

/* 통계 섹션 */
.stats-section {
  margin: 180px auto;
}
.stats-section .container {
  flex-direction: column;
}
.stats-section .section-title {
  font-size: 32px;
}
.stats-section .stats-container {
  display: grid;
  gap: 20px;
}
.stats-section .total-stats {
  padding: 24px;
  border-radius: 10px;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  row-gap: 57px;
  color: #fff;
}
.stats-section .stats-title {
  font-size: 28px;
  font-weight: 700;
}
.stats-section .stats-number {
  color: #F53C80;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}
.stats-section .stats-desc {
  margin-left: 24px;
  color: #666;
  font-size: 16px;
  font-weight: 300;
}
.stats-section .chart-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
}
.stats-section .chart-grid .chart-grid {
  grid-template-columns: 1fr 1fr;
}
.stats-section .chart-grid .left-chart,
.stats-section .chart-grid .right-chart {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.stats-section .chart-item {
  padding: 24px;
  border-radius: 10px;
  background-color: #F6F6F6;
  color: #333;
}
.stats-section .chart-item.active .chart-container {
  height: 220px;
  margin-top: 28px;
}
.stats-section .chart-item.active .icon-chart-dropdown {
  transform: rotate(0deg);
}
.stats-section .chart-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats-section .chart-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-size: 28px;
  font-weight: 500;
}
.stats-section .chart-title .icon-chart-dropdown {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
.stats-section .chart-value {
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}
.stats-section .chart-container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.stats-section .chart-container > div {
  height: 220px;
}

/* 푸터 영역 */
.footer {
  padding: 56px 0;
  background-color: #1F000B;
  color: #fff;
  font-size: 16px;
}
.footer .container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer .footer-nav-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 20px;
}
.footer .footer-nav-wrap a {
  display: inline-block;
  position: relative;
}
.footer .footer-nav-wrap a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.15s ease-in-out;
  transform: scale(0);
}
.footer .footer-nav-wrap a:hover::after, .footer .footer-nav-wrap a:focus-visible::after {
  transform: scale(1);
}
.footer .footer-desc {
  margin-top: 10px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.footer .footer-line {
  font-size: 70%;
}
.footer .footer-logo .logo {
  width: 190px;
  height: 54px;
  background-image: url("/images/logo/ft_iogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .country-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 768px) {
  .banner-section h1 {
    font-size: 28px;
  }
  .news-item:first-child {
    grid-template-columns: 1fr;
  }
  .news-image {
    height: 200px;
  }
  .section-title {
    font-size: 20px;
  }
  .footer .container {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-bottom: 10px;
  }
  .main-nav ul {
    flex-wrap: wrap;
  }
  .main-nav li {
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .banner-section h1 {
    font-size: 24px;
  }
  .chart-grid {
    grid-template-columns: 1fr;
  }
  .ai-box {
    grid-template-columns: 1fr;
  }
}
/* 스와이퍼 스타일 */
section .swiper .swiper-scrollbar,
section .swiper + .swiper-scrollbar {
  width: auto;
  height: 6px;
  margin-top: 24px;
  position: unset;
  background-color: #dedede;
}
section .swiper .swiper-scrollbar .swiper-scrollbar-drag,
section .swiper + .swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 100px;
  background-color: #F53C80;
  cursor: grab;
}
section .swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
section .swiper .swiper-pagination-bullet-active {
  background-color: #F53C80;
}/*# sourceMappingURL=style.css.map */